@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700;800;900&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand{
    padding: 0px;
}
.logo1 img{
    width: 200px;
}
.nav-link{
    font-size: 18px;
    margin: 0 10px ;
    color: white;
    font-weight: 400;
}

.createAcc{
    color: #9AC6B7;
    font-size: 18px;
    font-weight: 400;
}


.nav-search-bar{
    color: white;
    border: 2px solid #9AC6B7;
    border-radius: 50px;
    margin-right: 30px ;
}
.nav-search{
    color: white;
}

.nav-search-bar label{
    width: 350px;
}

.login-btn{
    color: inherit;
    background-color: #9AC6B7;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 20px;
}

.lorem a{
    text-decoration: none;
    color: #777777;
    margin-right: 15px;
    font-size: 13px;
}


 /*------------------- tab view  ---------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px) {
    .nav-search-bar label {
        width: 100%;
    }
 }



 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px) {
    .nav-search-bar label {
        width: 100%;
    }

    .logo1{
        width: 185px;
    }
 }